<li>
  <a id="all-resources" href="/catalogue/#/upload/dataset" target="" class="nav-link btn btn-default">
    Subir recurso
  </a>
</li>
<li>
  <a id="datasets" href="/datasets" target="" class="nav-link btn btn-default">
    Capas
  </a>
</li>

<!-- <li>
    <a id="documents" href="/documents" target="" class="nav-link btn btn-default">
        Documents
    </a>
</li> -->
<li>
  <a id="maps" href="/ins/visor/" target="" class="nav-link btn btn-default">
    Visor
  </a>
</li>
<!-- <li>
    <a id="geostories" href="/geostories" target="" class="nav-link btn btn-default">
        GeoStories
    </a>
</li>
<li>
    <a id="dashboards" href="/dashboards" target="" class="nav-link btn btn-default">
        Dashboards
    </a>
</li>  -->
